//@import 'index';


.body_registro{
   // background-image: url("../images/registro/Conejo1.jpg");

.quitar{
    opacity: 0.2;
 
    background:$blue;
}
.no_quitar{
    opacity: 1;
}
.registro_form{
    margin:50px 0px;
    background: $color_naranja;
    width: 400px;
    height:auto ;
    border-radius: 25px;
    img{
        display: block;
        margin:10px auto;
        background: $color_naranja;
        
    }
    a{
        //margin: -10px 50px;
        text-decoration:none;
        color:$color_base;
    }
    a:hover:not(img){
        color:$color_navbar;
    }

    h1{
        background: $color_naranja;
        font-size: 28px;
        text-align: center;
    }
}
.formulario{
    background: $color_naranja;
    margin: 20px 0px;

    label{
        background: $color_naranja;
        margin:0;
        margin-top: 5px;
        font-size: 17px;
    }
    input:not([type="submit"]){
        border-radius: 3px;
        width: 100%;
        min-height: 50px;
        margin: 0;
        padding: 10px 15px;
        outline: none;
        border:none;
    }
    input:focus{
        outline: none;
        border: 1px solid black;
    }
    input[type="submit"]{
        //margin: 15px 15px 15px 15px;
        border-radius: 3px;
        border:none;
        outline: none;
        height: 50px;
        width: 100%;
    }

    input[type="submit"]:hover{
        background: black;
        color:white;
    }
    small{
        background: $color_naranja;
    }
}

.registro{

    //background-image: url("../images/registro/Conejo2.png");
    //background-repeat: no-repeat;
    background: $color_base;
    border-radius: 50%;
    //border-top-right-radius: 15%;
    //background: $color_navbar;
   // padding: 25px;
   // margin: 50px 0px;
    
}
}