// Body
$body-bg: #38c172;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$color_verde_claro:#98FB98;
$color_cafe_claro:#FFE4B5;
$color_naranja: #FF8C00;
$color_base: #FFFAFA;
$color_navbar:#90EE90;
$color_navbar_hover:#3CB371;

$color_prueba:#90EE90;